@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css';

@layer base {
	body {
		@apply bg-zinc-900 text-white;
	}

	.prose a[target="_blank"]:not(.no-external-link)::before {
		content: "\ea24 ";
		font-family: 'tabler-icons';
		@apply text-xs;
	}
}

@layer utilities {
	.animate-arrow-right {
		animation: both arrow-slide-right-opacity 0.1s ease-in-out;
	}

	@keyframes arrow-slide-right-opacity {
		0% {
			@apply -translate-x-4 transform opacity-0;
		}
		100% {
			@apply translate-x-0 transform opacity-100;
		}
	}
}

@layer components {
	main {
		@apply container mx-auto px-4 py-8;
	}

	.text-input {
		@apply focus:ring-unitn/55 w-full rounded-lg bg-zinc-800 px-4 py-3 outline-none focus:ring-2 placeholder:text-zinc-600;
	}

	.circular-button {
		@apply flex items-center justify-center rounded-full bg-zinc-800 p-4 hover:bg-zinc-700 active:bg-zinc-600;
	}

	.generic-button {
		@apply bg-unitn rounded-md px-6 py-2 text-white disabled:opacity-50;

		&.zinc {
			@apply bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-600 shadow-md;
		}

		&.disabled {
			@apply cursor-not-allowed opacity-50;
		}

		&.square {
			@apply px-4;
		}
	}
}
